/* Mobile first */
html{
    height: 100%;
    background-color: #ccced1;
    font-size: 12pt;
    margin: 0 auto;
    box-sizing: border-box;
}

body{
    height: 100%;
}

button{
    width: 100%;
    background-color: #55ADD9;
    color: #ffffff;
    padding: 10px;
}

img{
    width: 500px;
}

a{
    text-decoration: none;
}

main{
    margin-top: 10px;
    flex: 1 1 auto;
    height: 100vh;
}

#feed-butt{
    width: 100%;
    padding: 10px;
}

#feeds-page{
    display: flex;
    flex-flow: column;
}

/* BEM conventions */
/* Blocks */
.navbar{
    text-align: center;
    height: 100px;
    /* background-color: #ffffff; */
    width: 50%;
    flex: 0 1 auto;
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    margin: 0 auto;
}

.box{
    padding: 10px;
    background-color: #ffffff;
    width: 50%;
    margin: 0 auto;
} 

.feed{
    overflow-y: scroll;
    width: 70%;
    margin: 0 auto;
}

.form{
    width: 60%;
    margin: 0 auto;
}

.container{
    display: flex;
    flex-basis: 100%;
    padding-bottom: 20px;
}

.modal{
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.invalid{
    background-color: #cc0000;
    display: none;
    animation-name: slideIn;
    animation-duration: 0.4s;
    -webkit-animation-name: slideIn; 
    -webkit-animation-duration: 0.4s;
    position: fixed;
    width: 100%;
    z-index: 1;
    left: 0;
    top: 0;
}

/* Elements */
.navbar__header{
    align-self: center;
    text-align: center;
}

.navbar__logout{
    margin: 0 auto;
    align-self: center;
}

.feed__item{
    background-color: #ffffff;
    text-align: center;
}

.container__input{
    width: 100%;
    padding: 10px;
}

.form__field{
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: #8e8e8e;
}

.form__icon{
    background: #105cce;
    color: #ffffff;
    padding: 10px;
}

.form__butts{
    display: flex;
}

.form__edit{
    background-color: #EBA653;
}

.form__delete{
    background-color: #EF7976;
}

.modal__content{
    background-color: #ffffff;
    margin: auto;
    padding: 20px;
    border: 1px solid #888888;
    width: 80%;
}

/* Modifiers */

/* Animations */
@keyframes slideIn{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

@-webkit-keyframes slideIn{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 0;
        opacity: 1;
    }
}

@media all and (min-width: 1024px){
    #new-item-form{
        width: 40%;
    }
}