<% include partials/header %>

<h1 class="navbar__header">Welcome to The Feed!</h1>

<div class="box">
    <form action="/" method="POST" class="form">
        <div class="container">
            <i class="fa fa-user form__icon"></i>
            <input type="text" name="username" placeholder="Username" class="container__input">
        </div>
        <div class="container">
            <i class="fa fa-key form__icon"></i>
            <input type="password" name="password" placeholder="Password" class="container__input">
        </div>
        <div class="container">
            <button>Submit</button>
        </div>
    </form>

    <div>
        <p>Don't have an account? <a href="/new_user">Sign Up Here</a></p>
    </div>
</div>

<% include partials/footer %>