<% include partials/header %>

<form action="/new_user" method="POST" class="form">
    <input type="text" name="first" placeholder="First Name" class="form__field">
    <input type="text" name="last" placeholder="Last Name" class="form__field">
    <input type="text" name="email" placeholder="Email" class="form__field">
    <input type="password" name="password" placeholder="Password" class="form__field">
    <input type="password" name="confirm" placeholder="Confirm Password" class="form__field">
    <button>Submit</button>
</form>

<a href="/">Return to login screen</a>

<% include partials/footer %>